@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body,
html {
    height: 100%;
    width: 100%;
}

html {
    font-size: clamp(18px, 1rem, 20px);
}

main {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    section.top {
        width: 100%;
        color: white;
        background-image: url(https://i.pinimg.com/1200x/ab/49/56/ab49568d05e9658bbf8ec68bd9a8496e.jpg);
        background-position: center;
        background-size: cover;

        .card {
            background-color: #00000031;
            opacity: 99%;
            font-weight: 100;
            height: 80vh;


            padding: 1rem 0.5rem;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            .nav {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .logo {
                    h5 {
                        // padding-left:0.3rem ;
                        font-size: 1.2rem;
                        letter-spacing: 0.2rem;
                        font-weight: 600;
                        color: rgb(218, 235, 251);
                    }
                }

                .home {
                    display: flex;
                    // gap: 0.4rem;
                    background-color: rgba(0, 0, 0, 0.475);
                    border-radius: 3.4rem;
                    padding: 0.1rem 0.2rem;

                    h6 {
                        font-weight: 400;
                        padding: 0.3rem 0.4rem;
                        font-size: 0.5rem;
                    }

                    h6:hover {
                        background-color: rgba(0, 0, 0, 0.678);
                        border-radius: 3.4rem;
                    }

                }

                .lg {
                    h6 {
                        font-size: 0.5rem;
                        font-weight: 400;
                    }
                }


            }

            .text {
                font-size: 2.4rem;
                color: rgba(240, 248, 255, 0.874);
            }

            .desc {
                h5 {
                    width: 15rem;
                    padding: 0.3rem 0.2rem;
                    font-weight: 400;
                    font-size: 0.7rem;
                }
            }
        }
    }

    section.about {
        width: 100%;
        padding: 0.9rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 1rem;

        .text {
            h5 {
                font-weight: 400;
            }
        }

        .head {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 0.5rem;

            .left {
                h1 {
                    font-size: 1rem;
                    font-weight: 600;
                }

            }

            .right {
                p {
                    font-size: 0.7rem;
                }

                button {
                    margin-top: 0.5rem;
                    background-color: black;
                    color: white;
                    border: none;
                    border-radius: 1.4rem;
                    padding: 0.5rem 0.7rem;
                    font-size: 0.6rem;
                }
            }
        }

        .numbers {
            display: flex;
            justify-content: space-around;
            gap: 0.2rem;
            width: 100%;

            .box {
                background-color: rgba(245, 245, 220, 0.29);
                padding: 0.3rem 0.6rem;
                width: 10rem;

                h1 {
                    font-size: 0.7rem;
                    font-weight: 600;
                }

                p {
                    font-size: 0.6rem;
                }
            }
        }
    }
}

@media (min-width:768px) {
    main {
        section.top {
            width: 100%;


            .card {

                height: 86vh;




                .nav {

                    padding: 0rem 0.9rem;

                    .logo {
                        h5 {
                            // padding-left:0.3rem ;
                            font-size: 2rem;
                            letter-spacing: 0.2rem;
                            font-weight: 400;
                        }
                    }

                    .home {

                        border-radius: 3.4rem;
                        padding: 0.2rem 0.4rem;

                        h6 {
                            font-weight: 400;
                            padding: 0.4rem 0.8rem;
                            font-size: 0.9rem;
                        }

                        h6:hover {
                            background-color: rgba(0, 0, 0, 0.772);
                            border-radius: 3.6rem;
                        }

                    }

                    .lg {
                        h6 {
                            font-size: 0.9rem;
                        }
                    }


                }

                .text {
                    padding: 0.2rem;
                    font-size: 6.6rem;
                    text-align: center;
                    color: rgba(240, 248, 255, 0.874);
                }

                .desc {
                    h5 {
                        width: 22rem;
                        padding: 0.3rem 0.2rem;
                        font-weight: 400;
                        font-size: 1.2rem;
                    }
                }
            }
        }

        section.about {
            padding: 1.6rem 0.9rem;

            gap: 1.4rem;

            .text {
                h5 {
                    font-weight: 600;
                }
            }

            .head {
                width: 100%;
                display: flex;
                justify-content: space-around;
                flex-direction: row;
                gap: 0.5rem;

                .left {
                    width: 52%;

                    h1 {
                        font-size: 2.2rem;
                        font-weight: 600;
                    }

                }

                .right {
                    width: 48%;

                    p {
                        font-size: 1.3rem;
                    }

                    button {

                        padding: 0.7rem 0.9rem;
                        font-size: 0.9rem;
                    }
                }
            }

            .numbers {
                padding: 0.2rem 0.4rem;
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                gap: 0.4rem;

                .box {
                    background-color: rgba(245, 245, 220, 0.29);
                    padding: 0.3rem 0.6rem;
                    width: 42%;


                    h1 {
                        font-size: 1.7rem;
                        font-weight: 600;
                    }

                    p {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}