@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}

html {
  font-size: clamp(18px, 1rem, 20px);
}

main {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main section.top {
  width: 100%;
  color: white;
  background-image: url(https://i.pinimg.com/1200x/ab/49/56/ab49568d05e9658bbf8ec68bd9a8496e.jpg);
  background-position: center;
  background-size: cover;
}
main section.top .card {
  background-color: rgba(0, 0, 0, 0.1921568627);
  opacity: 99%;
  font-weight: 100;
  height: 80vh;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
main section.top .card .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section.top .card .nav .logo h5 {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  color: rgb(218, 235, 251);
}
main section.top .card .nav .home {
  display: flex;
  background-color: rgba(0, 0, 0, 0.475);
  border-radius: 3.4rem;
  padding: 0.1rem 0.2rem;
}
main section.top .card .nav .home h6 {
  font-weight: 400;
  padding: 0.3rem 0.4rem;
  font-size: 0.5rem;
}
main section.top .card .nav .home h6:hover {
  background-color: rgba(0, 0, 0, 0.678);
  border-radius: 3.4rem;
}
main section.top .card .nav .lg h6 {
  font-size: 0.5rem;
  font-weight: 400;
}
main section.top .card .text {
  font-size: 2.4rem;
  color: rgba(240, 248, 255, 0.874);
}
main section.top .card .desc h5 {
  width: 15rem;
  padding: 0.3rem 0.2rem;
  font-weight: 400;
  font-size: 0.7rem;
}
main section.about {
  width: 100%;
  padding: 0.9rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}
main section.about .text h5 {
  font-weight: 400;
}
main section.about .head {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.5rem;
}
main section.about .head .left h1 {
  font-size: 1rem;
  font-weight: 600;
}
main section.about .head .right p {
  font-size: 0.7rem;
}
main section.about .head .right button {
  margin-top: 0.5rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 1.4rem;
  padding: 0.5rem 0.7rem;
  font-size: 0.6rem;
}
main section.about .numbers {
  display: flex;
  justify-content: space-around;
  gap: 0.2rem;
  width: 100%;
}
main section.about .numbers .box {
  background-color: rgba(245, 245, 220, 0.29);
  padding: 0.3rem 0.6rem;
  width: 10rem;
}
main section.about .numbers .box h1 {
  font-size: 0.7rem;
  font-weight: 600;
}
main section.about .numbers .box p {
  font-size: 0.6rem;
}

@media (min-width: 768px) {
  main section.top {
    width: 100%;
  }
  main section.top .card {
    height: 86vh;
  }
  main section.top .card .nav {
    padding: 0rem 0.9rem;
  }
  main section.top .card .nav .logo h5 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: 400;
  }
  main section.top .card .nav .home {
    border-radius: 3.4rem;
    padding: 0.2rem 0.4rem;
  }
  main section.top .card .nav .home h6 {
    font-weight: 400;
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
  }
  main section.top .card .nav .home h6:hover {
    background-color: rgba(0, 0, 0, 0.772);
    border-radius: 3.6rem;
  }
  main section.top .card .nav .lg h6 {
    font-size: 0.9rem;
  }
  main section.top .card .text {
    padding: 0.2rem;
    font-size: 6.6rem;
    text-align: center;
    color: rgba(240, 248, 255, 0.874);
  }
  main section.top .card .desc h5 {
    width: 22rem;
    padding: 0.3rem 0.2rem;
    font-weight: 400;
    font-size: 1.2rem;
  }
  main section.about {
    padding: 1.6rem 0.9rem;
    gap: 1.4rem;
  }
  main section.about .text h5 {
    font-weight: 600;
  }
  main section.about .head {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 0.5rem;
  }
  main section.about .head .left {
    width: 52%;
  }
  main section.about .head .left h1 {
    font-size: 2.2rem;
    font-weight: 600;
  }
  main section.about .head .right {
    width: 48%;
  }
  main section.about .head .right p {
    font-size: 1.3rem;
  }
  main section.about .head .right button {
    padding: 0.7rem 0.9rem;
    font-size: 0.9rem;
  }
  main section.about .numbers {
    padding: 0.2rem 0.4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 0.4rem;
  }
  main section.about .numbers .box {
    background-color: rgba(245, 245, 220, 0.29);
    padding: 0.3rem 0.6rem;
    width: 42%;
  }
  main section.about .numbers .box h1 {
    font-size: 1.7rem;
    font-weight: 600;
  }
  main section.about .numbers .box p {
    font-size: 1.1rem;
  }
}/*# sourceMappingURL=style.css.map */